$bg-color: red;
$navbar: rgb(31, 166, 124);
$navbar2: rgb(184, 177, 177);
$letraB: rgb(255, 255, 255);
$letraN: rgb(0, 0, 0);
$background: rgb(255, 255, 255);
$grey: #eee;
$light: #f6f6f9;
$primary: #1976d2;
$light-primary: rgb(84, 184, 249);
$grey: #eee;
$grey2: #dcdbdb;
$dark-grey: #aaaaaa;
$dark: #232425;
$danger: #d32f2f;
$light-danger: #fecdd3;
$warning: #fbc02d;
$light-warning: #fff2c6;
$success: #388e3c;
$colorletraverde: rgb(71, 245, 71);
$light-success: #bbf7d0;
$nav-bar: #dbf0fe;
$btn-background: rgb(213, 255, 185);
